:root {
    --heartRateChartBarColor: var(--warning, #ffa503);
    --bloodPressureChartDiaPointColor: var(--danger, #ff0000);
    --bloodPressureChartDiaLineColor: var(--danger, #ff0000);
    --bloodPressureChartSysPointColor: var(--warning, #ffa503);
    --bloodPressureChartSysLineColor: var(--warning, #ffa503);
    --stepsChartTargetLineColor: var(--success, #008001);
    --stepsChartBelowTargetBarColor: var(--gray-500, #d3d3d3);
    --stepsChartAboveTargetBarColor: var(--success, #008001);
    --weightChartPointColor: var(--success, #008001);
    --weightChartLineColor: var(--success, #008001);
}